body{
    background: #21A189;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.wrapper{
    background: #ffffff;
    width: 400px;
    max-width: 100%;
    padding: 40px;
    margin: 50px auto 0;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);

}
.title{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}
.form-group{
    position: relative;
}
.form-label{
    position:absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #21A189;
    pointer-events: none;
    transition: 0.5s;
}
.form-input:focus ~ .form-label{
    top: -20px;
    left: 0;
    color: #187362;
    font-size: 12px;
}
.form-input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #21A189;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #21A189;
    outline: none;
    background: transparent;
}
.submit-btn{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background: #21A189;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
    border: none;
}
.submit-btn:hover{
    background:#ffffff;
    color: #21A189;
    border: #21A189;
}