body{
    background: #f2f2f2;
    font-size: 14px;
}
.container{
    width: 500px;
    max-width: 100%;
    padding: 25px;
    margin: 50px auto 0;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.wrapper{

}
.title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}
.form-wrapper{
    position: relative;
    margin-bottom: 20px;
}
.form-label{
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;
}
.form-input{
    width: 100%;
    padding: 8px 0 9px 5px;
    height: 35px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #cccccc;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 14px;
}
.form-input:hover{
    background: #fafafa;
}
.form-input:focus{
    background: #fafafa;
    border: 1px solid #5c0889;
    box-shadow: 0 0 2px 1px rgba(27, 8, 137, 0.5);
}
.submit-btn{
    width: 100%;
    background: #5c0889;
    color: #fff;
    padding: 5px 0 9px 5px;
    border-radius: 5px;
    font-size: 1.1rem;
    height: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}
.submit-btn:hover{
    background: darken(#5c0889,7%);
}
.submit-btn:focus{
    background: darken(#5c0889,7%);
}